//= partials/head.html

<div class="global-wrapper type-ahead">
    //= partials/header.html

    <!-- MAIN -->
    <form class="search-form">
        <input type="text" class="search" placeholder="City or State">
        <ul class="suggestions">
            <li>Filter for a city</li>
            <li>or a state</li>
        </ul>
    </form>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>
</style>
<script>
    const endpoint = 'https://gist.githubusercontent.com/Miserlou/c5cd8364bf9b2420bb29/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json';

    const cities = [];

    fetch(endpoint).then(blob=> blob.json()).then(data =>cities.push(...data));

    function findMatches(wordToMatch, cities){
        return cities.filter(place => {
            //here we need to figure out if the city or state matches was searched
            const regex = new RegExp(wordToMatch, 'gi');
            return place.city.match(regex) || place.state.match(regex); 
        })
    }

    function displayMatches(){
        const matchArray = findMatches(this.value, cities);
        const html = matchArray.map(place =>{
            const regexp = new RegExp(this.value, 'gi');
            const cityName = place.city.replace(regexp, `<span class="hl">${this.value}</span>`);
            const stateName = place.state.replace(regexp, `<span class="hl">${this.value}</span>`)

            return`
                <li>
                    <span class="name">${cityName}, ${stateName}</span>
                    <span class="population">${place.population}</span>
                </li>
            `;
        }).join('');
        suggestions.innerHTML = html;
    }

    const searchInput = document.querySelector('.search');
    const suggestions = document.querySelector('.suggestions')

    searchInput.addEventListener('change', displayMatches);
    searchInput.addEventListener('keyup', displayMatches);

</script>
//= partials/scripts.html


</body>
</html>
