//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
     
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>
</style>
<script>
    
</script>
//= partials/scripts.html


</body>
</html>
