//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
     <p  onClick = "makeGreen()">*BREAK*DOWN*</p>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>
</style>
<script>
    const dogs = [{name: 'Snickers', age: 2},{name: 'hugo', age: 8}];

    function makeGreen(){
        const p = document.querySelector('p');
        p.style.color = '#bada55';
        p.ctyle.fontSize = '50px'; 
    }

    //Regular
    console.log('hello');
    // Interpolated
    console.log('Hello I am a %s string!', '💩');
    // Styled
    console.log('%c i am some greate text', 'font-size: 50px;')

    //warning
    console.warn('OH NOOO!');

    //Error!
    console.error('Shit!');

    // Info

    console.info('Crocodile eat 3-4 people per year')

    //Testing

    const p = document.querySelector('p')
    console.assert(p.classList.contains('ouch'), 'That is wrong!');

    // clearing
    console.clear();

    // Viewing DOM elements

    console.log(p);
    console.dir(p);

    // Grouping  toghrther
    dogs.forEach(dog => {
        console.group(`${dog.name}`); // or use console.groupCollapse(`${dog.name}`) 
        console.log(`This is ${dog.name}`);
        console.log(`${dog.name} is ${dog.age} years old`);
        console.log(`${dog.name} is ${dog.age * 7} dog years old`);
        console.groupEnd(`${dog.name}`);
    });

    //counting

    console.count('new');
    console.count('new');
    console.count('new');
    console.count('new');
    console.count('new');
    console.count('new');
    console.count('new');

    // timing

    console.time('fetching data');

    fetch('https://api.github.com/users/wesbos')
        .then(data=> data.json())
        .then(data =>{
            console.timeEnd('fetching data');
            console.log(data);
        })

    //table

    console.table(dogs);






</script>
//= partials/scripts.html


</body>
</html>
