//= partials/head.html

<div class="global-wrapper css-variables">
    //= partials/header.html

    <!-- MAIN -->
    <div class="backward">
        <a href="/">Return</a>
      </div>
    <h2>Update CSS Variables with <span class='hl'>JS</span></h2>
    
      <div class="controls">
        <label for="spacing">Spacing:</label>
        <input id="spacing" type="range" name="spacing" min="10" max="200" value="10" data-sizing="px">
    
        <label for="blur">Blur:</label>
        <input id="blur" type="range" name="blur" min="0" max="25" value="10" data-sizing="px">
    
        <label for="base">Base Color</label>
        <input id="base" type="color" name="base" value="#ffc600">
      </div>
    
      <img src="https://source.unsplash.com/7bwQXzbF6KE/800x500">
     
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
    <style>
    :root {
      --base: #ffc600;
      --spacing: 10px;
      --blur: 10px;
    }

    .css-variables img {
      padding: var(--spacing);
      background: var(--base);
      filter: blur(var(--blur));
    }

    .css-variables .hl {
      color: var(--base);
    }

    /*
      misc styles, nothing to do with CSS variables
    */

    .css-variables {
      text-align: center;
      background: #193549;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 50px;
    }

    .controls {
      margin-bottom: 50px;
    }

    .controls input {
      width:100px;
    }
    </style>
<script>

</script>
//= partials/scripts.html


</body>
</html>
