//= partials/head.html

<div class="global-wrapper events-listener">
       <!-- MAIN -->
       <div class="one">
          <div class="two">
            <div class="three">
            </div>
          </div>
        </div>
        
        <style>
          html {
            box-sizing: border-box;
          }
          *, *:before, *:after { box-sizing: inherit; }
        
          div {
            width:100%;
            padding:100px;
          }
        
          .one {
            background: thistle;
          }
        
          .two {
            background:mistyrose;
          }
        
          .three {
            background:coral;
          }
        </style>
        
        <button></button>
        <script>          
            const divs = document.querySelectorAll('div');

            function logText(e){
                // e.stopPropagation();
                console.log(this.classList.value);
            }

            divs.forEach(div => div.addEventListener('click', logText,{capture: false, once: true}));


        </script>
    <!-- /MAIN -->
    
    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>
</style>
<script>
    
</script>
//= partials/scripts.html


</body>
</html>