//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
    <div class="main index-page"> 
        <ul>
          <li><img src="./images/small0.jpg" alt=""><a href="drum-kit.html">drum-kit.html</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small1.jpg" alt=""><a href="clock.html">Clock</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small2.jpg" alt=""><a href="css_variables.html">css variables</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small3.jpg" alt=""><a href="javascript: vooid(0)">array cardio</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small4.jpg" alt=""><a href="flex-panel-gallery.html">flex-panel-gallery</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small5.jpg" alt=""><a href="ajax-type-ahead.html">ajax-type-ahead</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small7.jpg" alt=""><a href="htmlCanvas.html">htmlCanvas</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small8.jpg" alt=""><a href="javascript: vooid(0)">console tricks</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small9.jpg" alt=""><a href="shift-to-check-checkbox.html">shift to check checkbox</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small10.jpg" alt=""><a href="custom-videoplayer.html">custom videoplayer</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small11.jpg" alt=""><a href="javascript: vooid(0)">key-sequencer</a></li>
          <li> <img src="https://s3.amazonaws.com/js30-cdn/small12.jpg" alt=""><a href="slide-in-onscroll.html">slide-in onscroll</a></li>
          <li> <img src="https://s3.amazonaws.com/js30-cdn/small14.jpg" alt=""><a href="local-storage.html">local-storage.html</a></li>
          <li><img src="https://s3.amazonaws.com/js30-cdn/small15.jpg" alt=""> <a href="text-shadow-mouse-mouve.html">text-shadow mouse-mouve</a></li> 
          <li><img src="https://s3.amazonaws.com/js30-cdn/small16.jpg" alt=""><a href="sorting_band_name.html">sorting_band_name</a></li>                   
          <li><img src="https://s3.amazonaws.com/js30-cdn/small17.jpg" alt=""><a href="javascript: vooid(0)">adding_time_with_reduce</a></li>    
          <li><img src="https://s3.amazonaws.com/js30-cdn/small18.jpg" alt=""><a href="javascript: vooid(0)">webcam_fun</a></li>    
          <li><img src="https://s3.amazonaws.com/js30-cdn/small20.jpg" alt=""><a href= "javascript: vooid(0)"> geolocation.html</a></li>  
          <li><img src="https://s3.amazonaws.com/js30-cdn/small21.jpg" alt=""><a href= "highlight_links.html">highlight_links.html</a></li>  
          <li><img src="https://s3.amazonaws.com/js30-cdn/small22.jpg" alt=""><a href= "speech_synthesis.html">speech_synthesis</a></li>  
          <li><img src="https://s3.amazonaws.com/js30-cdn/small23.jpg" alt=""><a href= "sticky-nav.html">sticky-nav.html</a></li> 
          <li><img src="https://s3.amazonaws.com/js30-cdn/small24.jpg" alt=""><a href= "javascript: vooid(0)">events-listener</a></li> 
          <li><img src="https://s3.amazonaws.com/js30-cdn/small25.jpg" alt=""><a href= "dropdown.html">dropdown</a></li>  
          <li><img src="https://s3.amazonaws.com/js30-cdn/small26.jpg" alt=""><a href= "dragScroll.html">dragScroll</a></li>     
          <li> <img src="https://s3.amazonaws.com/js30-cdn/small28.jpg" alt=""><a href="count-down_timer.html">count-down_timer.html</a></li>      
          <li><img src="https://s3.amazonaws.com/js30-cdn/small29.jpg" alt=""><a href="mole-game.html">mole-game.html</a></li>
               
          
        </ul>
        <!-- add partials here -->       
         


    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<script>

</script>
//= partials/scripts.html

</body>
</html>
