//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
     
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>
</style>
<script>
    const pressed = [];
    secretCode = 'wesbos';

    window.addEventListener('keyup',(e)=> {
        pressed.push(e.key);       
        pressed.splice(-secretCode.length -1, pressed.length - secretCode.length); // cut array's elements number of them are bigger then secret code length
        console.log(pressed);
        if(pressed.join('').includes(secretCode)){
            console.log("DING DING");
            cornify_add();
        }
    });

</script>
//= partials/scripts.html


</body>
</html>
