//= partials/head.html

<div class="global-wrapper mole-game">
    //= partials/header.html

    <!-- MAIN -->
    <h1>Whack-a-mole! <span class="score">0</span></h1>
    <button class="start-button">Start!</button>
  
    <div class="game">
      <div class="hole hole1">
        <div class="mole"></div>
      </div>
      <div class="hole hole2">
        <div class="mole"></div>
      </div>
      <div class="hole hole3">
        <div class="mole"></div>
      </div>
      <div class="hole hole4">
        <div class="mole"></div>
      </div>
      <div class="hole hole5">
        <div class="mole"></div>
      </div>
      <div class="hole hole6">
        <div class="mole"></div>
      </div>
    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>
</style>
<script>
   
</script>
//= partials/scripts.html


</body>
</html>
