//= partials/head.html

<div class="global-wrapper voicenator-page">
    //= partials/header.html

    <!-- MAIN -->
    <div class="voiceinator">            
        <h1>The Voiceinator 5000</h1>

        <select name="voice" id="voices">
        <option value="">Select A Voice</option>
        </select>

        <label for="rate">Rate:</label>
        <input name="rate" type="range" min="0" max="3" value="1" step="0.1">

        <label for="pitch">Pitch:</label>

        <input name="pitch" type="range" min="0" max="2" step="0.1">
        <textarea name="text">Hello! I love JavaScript 👍</textarea>
        <button id="stop">Stop!</button>
        <button id="speak">Speak</button>            
    </div>
    <!-- /MAIN -->
    
    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>
</style>
<script>
      
    </script>
//= partials/scripts.html


</body>
</html>