//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
    <div class="photobooth">
            <div class="controls">
              <button onClick="takePhoto()">Take Photo</button>
             <div class="rgb">
                <label for="rmin">Red Min:</label>
                <input type="range" min=0 max=255 name="rmin">
                <label for="rmax">Red Max:</label>
                <input type="range" min=0 max=255 name="rmax">
        
                <br>
        
                <label for="gmin">Green Min:</label>
                <input type="range" min=0 max=255 name="gmin">
                <label for="gmax">Green Max:</label>
                <input type="range" min=0 max=255 name="gmax">
        
                <br>
        
                <label for="bmin">Blue Min:</label>
                <input type="range" min=0 max=255 name="bmin">
                <label for="bmax">Blue Max:</label>
                <input type="range" min=0 max=255 name="bmax">
              </div>
            </div>
        
            <canvas class="photo"></canvas>
            <video class="player"></video>
            <div class="strip"></div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>
<style>

*, *:before, *:after {
  box-sizing: inherit;
}

.global-wrapper{
  font-size: 10px;
  background:#ffc600;
  box-sizing: border-box;
}

.photobooth {
  background:white;
  max-width:150rem;
  margin: 2rem auto;
  border-radius:2px;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width:100%;
  float:left;
}

.player {
  position: absolute;
  top:20px;
  right: 20px;
  width:200px;
}

/*
  Strip!
*/

.strip {
  padding:2rem;
}
.strip img {
  width:100px;
  overflow-x: scroll;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
</style>
<script>
    
</script>
//= partials/scripts.html


</body>
</html>
